section.contacts {
  margin-top: 60px;
  margin-bottom: 240px;

  h2.section-title {
	margin-bottom: 2em;
  }
  .director {
	margin-bottom: 55px;
  }

  h6 {
	margin-bottom: 22px;
  }

  div.our-contacts {
	display: flex;
	align-items: center;

	img {
	  display: block;
	  margin-right: 15px;
	}

	p {
	  margin-top: 0;
	  margin-bottom: 0;
	}
  }
  .contact-form {
	margin: 0 auto;
	margin-top: 84px;
	max-width: 470px;
	height: 72px;
	form {
	  input,
	  textarea {
		background-color: #F3F3F3;

	  }
	  a.button {
		background-color: $c-yellow;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px 0;
	  }
	}
  }
}